*archive*
*__pycache__
*.pyc
*.msh
*.vtu
*.vtk
*.c
*.so
*.o
*.a
*.d
*.pvd
*.png
*.whl
*.ipynb_checkpoints
*.ipynb
*.png
*.DS_Store
droplet_evaporation/jfm_manuscript
droplet_evaporation/manuscript_first_version
*.vscode
calculation.ipynb
jochem/results
oldroyd/literature